body{
    margin: 0;
    padding: 0;
    background-image: url(graduates-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 548px;
}






.sign-in-form{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    border-color: #250202 ;
}

.sign-in-form h1{
    color:#250202;
    margin-bottom: 30px;
}

.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 90%;
    border: 1px solid #999;
    outline: none;
}

button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    outline: none;
    cursor: pointer;
}

.signin-btn{
    background-color: #250202;
}






